/* mobile first sizes */
.wf-loading * {
  opacity: 0;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #c1c1c1;
  color: #333;
  color: rgba(0,0,0,0.87);
  overflow-y: scroll;
}

header {
  background-color: #f5f5f5;
  padding: 1em 0;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

footer {
  color: #fff;
  color: rgba(255, 255, 255, 0.87);
  background-color: #4b2c20;
  padding: 1em;
  line-height: 150%;
  letter-spacing: .2em;
  word-spacing: .2em;
  margin-top: 4em;
}

footer .wrapper {
  background-color: #4b2c20;
}

footer a {
  color: #fff!important;
}

footer a:hover {
  background-color: #c34b36;
}

table {
  border-collapse: collapse;
}

/* Logo at top of page */
.brand {
  text-align: left;
  margin: 0 auto
}

.brand .logo {
  display: inline-block;
  height: 100%;
}

.logo-container {
  background-color: #fff;
  border-radius: 4em;
  height: 4em;
  text-align: center;
}

.brand .tagline {
  color: #666;
}

.brand .name {
  color: #8c180e;
  font-size: 2em;
  font-family: 'Shadows Into Light', cursive;
}

.brand td {
  vertical-align: middle;
  padding-right: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu,
.content {
  background-color: #fff;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.content {
  border-bottom: 2px solid #8c180e;
  border-top: 2px solid #8c180e;
}

.menu td {
  border-bottom: 2px solid #8c180e;
  border-top: 2px solid #8c180e;
  padding: 1.2em 1em;
  vertical-align: top;
}

.menu .item-name {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}

.menu .item-description {
  font-size: 1.2em;
  color: #666
}

.menu tr {
  transition: all 100ms ease-out;
}

.menu tr:hover {
  background-color: #c34b36;
  color: #fff;
}

.menu tr:hover .item-description {
  color: #fff;
}

.menu-description,
.description {
  font-size: 1.1em;
  background-color: #f4f4f4;
  color: #000;
  padding: 1em;
  text-align: center;
  border-top: 2px solid #8c180e;
}

.menu-warning {
  background-color: #f4f4f4;
  color: #333;
  font-size: .9em;
  font-style: italic;
  padding: 1em;
  text-align: center;
  border-bottom: 2px solid #8c180e;
}

.menu .image {
  padding-left: 0;
  width: 200px;
}

.menu .image img {
  height: auto;
  max-width: 100%;
}

.large-nav {
  display: none;
}

.mobile {
  display: inline-block;
}

.desktop {
  display: none;
}

/* tablet and above */
@media only screen and (min-width: 780px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 1em;
  }

  .brand {
    text-align: left;
    margin: 0 auto
  }
  
  .brand .logo {
    display: inline-block;
    height: 100%;
  }
  
  .logo-container {
    background-color: #fff;
    border-radius: 6em;
    height: 6em;
    text-align: center;
  }
  
  .brand .tagline {
    color: #666;
  }
  
  .brand .name {
    color: #8c180e;
    font-size: 3em;
    font-family: 'Shadows Into Light', cursive;
  }
  
  .brand td {
    vertical-align: middle;
    padding-right: 1em;
  }

  .mini-nav {
    display: none;
  }

  .mobile {
    display: none;
  }
  
  .desktop {
    display: inline-block;
  }
}


nav {
  background-color: #fff;
  margin-bottom: 0 !important;
  overflow: hidden;
  text-align: center;
}

nav a {
  border-bottom: 3px solid #fff;
  color: #000;
  display: inline-block;
  font-size: .9em;
  font-weight: bold;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  border-bottom-color: #c34b36;
  cursor: pointer;
}

nav a.active {
  border-bottom-color: #8c180e!important;
}

nav .icon {
  display: none;
  padding: 0;
}

@media screen and (max-width: 780px) {
  nav a {
    border-width: 0;
    display: block;
    float: left;
    padding: 1em;
    margin-right: 50px;
  }

  nav a:not(.active) {
    display: none;
  }
  
  nav a.icon {
    display: block;
    float: right;
    margin: 0;
  }
  
  nav.responsive {
    position: relative;
  }

  nav.responsive .active {
    background-color: #c34b36;
    color: #fff;
  }

  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
  }

  nav.responsive a {
    display: block;
    float: none;
    text-align: left;
  }
}

form {
  padding: 2em;
}

label.error {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .90em;
  font-style: italic;
  margin-top: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-row {
  margin-bottom: 1.5em;
}

.form-row input,
.form-row textarea {
  border: none;
  font-size: 1.2em;
  outline: none;
  padding: .2em;
  width: 100%;
  border: 2px solid #c1c1c1;
  transition: border-color 256ms ease;
}

.form-row textarea {
  min-height: 200px;
}

.form-row input:focus,
.form-row textarea:focus {
  border-color: #c34b36;
}

.form-footer {
  text-align: center;
}

.form-row input.error,
.form-row textarea.error {
  border-color: red;
}

video {
  outline: none;
}

.address {
  text-align: center;
  font-size: 1.1em;
  padding-bottom: 2em;
}

.content .message {
  padding: 2em;
}